<header class="animated-gradient shadow-lg fixed w-full top-0 z-50 backdrop-blur-md"
        data-controller="header"
        data-header-target="header">
  <div class="mx-auto px-4 sm:px-6 lg:px-40 py-4 rounded-lg">
    <div class="flex justify-between items-center">
      <%= link_to root_path, class: "focus:outline-none" do %>
        <div class="h-25 flex items-center">
          <img class="h-full w-auto" src="<%= asset_path('logos/noir-logo.svg') %>" alt="Noir Logo">
        </div>
      <% end %>
      <nav class="flex gap-7">
        <%= render partial: 'shared/nav_button', locals: { link: root_path, label: 'Home', color: :home } %>
        <%= render partial: 'shared/nav_button', locals: { link: root_path, label: 'Search', color: :search } %>
        <%= render partial: 'shared/nav_button', locals: { link: root_path, label: 'Carts', color: :carts } %>
        <%= render partial: 'shared/nav_button', locals: { link: root_path, label: 'About Us', color: :about } %>
      </nav>
    </div>
  </div>
</header>